
.head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav, .button-container {
  display: flex;
  align-items: center;
}

.nav h2 {
  margin-left: 1rem;
  justify-content: space-between;
  color:black;
 
  
}
.nav h6 {
  margin-left: 1rem;
  justify-content: space-between;
  color:	#D4AF37;
}
.nav h3 {
  margin-left: 1rem;
  justify-content: space-between;
  color:black;
  
}

.button1,
.button2 {
  background-color: blue;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
   color: white;
   cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1 {
  margin-right: 1rem;
}

.button2 {
  margin-left: 1rem;
}

.button1:hover,
.button2:hover {
  background-color: #2980b9;
}

/* Responsive Styles */
@media (min-width: 576px) {
  .head {
    flex-direction: row;
  }
  
  .button1,
  .button2 {
    margin: 0.5rem;
  }
}

